@font-face {
    font-family: 'IkaCompact-Normal';
    src: url('../fonts/IkaCompactTrial-Normal.woff2') format('woff2'),
         url('../fonts/IkaCompactTrial-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IkaCompact-Condensed';
    src: url('../fonts/IkaCompactTrial-Condensed.woff2') format('woff2'),
         url('../fonts/IkaCompactTrial-Condensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'IkaCompact-Normal', sans-serif;
    color: #000000;
}

.content-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.nav {
    height: 100vh;
    display: grid;
    align-items: start;
    justify-content: center;
    font-size: 24px;
}

.nav-container {
    display: grid;
    grid-gap: 71px;
    padding-top: 40px;
}

.nav-menu {
    list-style: none;
    width: 120px;
    padding: 0;
    display: grid;
    grid-gap: 35px;
}

.nav-menu__link {
    :hover {
        text-decoration: underline;
    }
    a {
        text-decoration: none;
    }
} 

.social-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.social-link {
    cursor: pointer;
    font-size: 1.5rem;
    a {
        text-decoration: none;
    }
}

.main {
    display: grid;
    padding-top: 40px;
}

.main-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 25%;
}

.main-menu__link {
    list-style: none;
    font-size: 160px;
    font-family: 'IkaCompact-Condensed', sans-serif;
    text-transform: uppercase;
    a {
        text-decoration: none;
    }
    :active {
        color: #a8e1ff;
    }
    :hover {
        color: #a8e1ff;
    }
    @media (max-width: 600em) {
        font-size: 130px;
    }
}

.governor {
    display: grid;
    grid-template-columns: 5fr 6fr 1fr;
    padding: 85px 0;
}

.governor-photo {
    margin-top: 120px;
}

.governor-photo__caption {
    font-size: 14px;
    width: 30%;
    margin: 0 auto;
    margin-top: 56px;
}

.governor-text {
    display: grid;
    grid-gap: 38px;
    font-size: 18px;
}

.governor-text__heading {
    font-size: 60px;
    // margin-top: 85px;
}
